.bav{
    width: 100%;
     margin: 20px auto;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 6px 20px rgba(0,0,0,0.2);
    padding-top: 5vh;;

}.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to top right, #1e3c72, #2a5298);
}

.login-card {
  background: rgba(255,255,255,0.15);
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 8px 30px rgba(0,0,0,0.3);
  backdrop-filter: blur(10px);
  text-align: center;
  color: white;
  width: 320px;
}

.login-card h2 {
  margin-bottom: 20px;
  font-weight: bold;
}

.login-card input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: none;
  border-radius: 10px;
  font-size: 16px;
}

.login-card button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(135deg, #00c6ff, #0072ff);
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.login-card button:hover {
  background: linear-gradient(135deg, #0072ff, #0044cc);
}
